<section>  
    <div class="row well well-sm col-md-12">

        <form name="nuevoUnidad" ng-submit="nuevoUnidad.$valid && agregarUnidad()" novalidate>
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Nombre *</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control ng-pristine ng-invalid" ng-model="unidad.nombre" required>
                        </div>
                    </div>
                    
                    <!-- select.js de Angular Strap -->
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Marca</label>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default" 
                                ng-model="unidad.marca" 
                                data-animation="am-fade" 
                                data-html="1" 
                                bs-options="grupoSanguineo.gru_id as grupoSanguineo.gru_nombre for grupoSanguineo in matrizGruposSanguineos" 
                                placeholder="Elija una opción" 
                                bs-select 
                            >
                            Action <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    
                    <!-- select.js de Angular Strap -->
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Principio activo</label>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default" 
                                ng-model="unidad.principio_activo" 
                                data-animation="am-fade" 
                                data-html="1" 
                                bs-options="grupoSanguineo.gru_id as grupoSanguineo.gru_nombre for grupoSanguineo in matrizGruposSanguineos" 
                                placeholder="Elija una opción" 
                                bs-select 
                            >
                            Action <span class="caret"></span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Peso</label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-invalid" ng-model="unidad.peso" class="text-right" required>
                                <span class="input-group-addon">mg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Vencimiento</label>
                        </div>
                        <div class="col-md-6">
                            <div ng-controller="UnidadDatepickerController">
                                <div class="input-group">
                                    <input type="text" class="form-control" 
                                        uib-datepicker-popup 
                                        ng-model="unidad.fecha_nacimiento" 
                                        is-open="popup.abierto"
                                        datepicker-options="opcionesDeFecha" 
                                        date-disabled="desactivado(date, mode)" 
                                        close-text="Cerrar" 
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="abrir()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Lote</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control ng-pristine ng-invalid" ng-model="unidad.lote" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Cantidad *</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control ng-pristine ng-invalid" ng-model="unidad.cantidad" required>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <input type="submit" value="Aceptar" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>
    </div>
</section>